<div class ="container">
	<div class ="jumbotron">
		<div class ="row">
			<div class ="col col-6">
				<img src={{logo}}>
			</div>
			<div class ="col col-6">
				<hr lcass="my-4">
				<p class="lead">{{pais}}</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col col-4">
				<h1 class="display-4">Dodge</h1>
			</div>
			<div class ="col col-4">
				<wbr>
				<p class="lead">{{anioFundacion}}</p>
			</div>
			<div class ="col col-4">
				<h2 class = "display-6">{{sectorVentas}}</h2>
			</div>
		</div>
		<hr lcass="my-4">
		<hr lcass="my-4">
	</div>
</div>