<div class ="container">
	<div class ="jumbotron">
		<img src={{logo}}>
		<div class="row">
			<div class=" col col-4">
				<h1 class="display-4">Yisus</h1>
			</div>
			<div class ="col col-4">
				<h1></h1>
				<hr lcass="my-4">
				<p class="lead">Help us</p>
				
			</div>
			<div class ="col col-4">
				<hr lcass="my-4">
				<h2 class = "lead">by killing us</h2>
			</div>
		</div>
		<hr lcass="my-4">
	</div>
</div>